services:
  python_service:
    image: yohasebe/python
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PROJECT_TAG: "monadic-chat"
        INSTALL_LATEX: ${INSTALL_LATEX:-false}
        PYOPT_NLTK: ${PYOPT_NLTK:-false}
        PYOPT_SPACY: ${PYOPT_SPACY:-false}
        PYOPT_SCIKIT: ${PYOPT_SCIKIT:-false}
        PYOPT_GENSIM: ${PYOPT_GENSIM:-false}
        PYOPT_LIBROSA: ${PYOPT_LIBROSA:-false}
        PYOPT_MEDIAPIPE: ${PYOPT_MEDIAPIPE:-false}
        PYOPT_TRANSFORMERS: ${PYOPT_TRANSFORMERS:-false}
        IMGOPT_IMAGEMAGICK: ${IMGOPT_IMAGEMAGICK:-false}
    ports:
      - "8889:8889"
      - "5070:5070"
    container_name: monadic-chat-python-container
    volumes:
      - data:/monadic/data
      - ~/monadic/data:/monadic/data
    command: /bin/sh -c "cd /monadic/flask && gunicorn --timeout 300 -b 0.0.0.0:5070 flask_server:app"
    networks:
      - monadic-chat-network
